<%= render "shared/user", user: @user %>
<div class="bio box">
  <span class="title">Bio</span>
  <span><%= @user.bio %></span>
</div>
<% @posts.each do |post| %>
  <%= render "shared/post", post: post %>
<% end %>
<div class="button-container">
  <%= button_to "See all posts", user_posts_path(@user),:class => "posts-button", :method => :get %>
</div>