<%= render "shared/user", user: @user %>
<div class="bio">
  <span class="title">Bio</span>
  <span><%= @user.bio %></span>
</div>
<% @user.most_recent_posts.each do |post| %>
  <%= render "shared/post_preview", post: post %>
<% end %>