<div class="post-preview">
  <span class="title"><%= post.title %></span>
  <span><%= post.text %></span>
  <span class="counter">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
</div>