<div class="user-card">
  <%= image_tag "user-img.png" %>
  <div class="user-info">
    <span class="user-name"><%= user.name %></span>
    <span class="posts-counter">Number of posts: <%= user.post_counter %></span>
  </div>
</div>