/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-container {
  padding: 0 30px;
}

 a {
  color: black;
  text-decoration: none; /* no underline */
}

.user-card {
  display: flex;
  margin: 30px 0;
}

.user-info {
  border: 2px black solid;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  padding: 0 20px;
}

.user-name {
  font-size: 40px;
  line-height: 124px;
}

.posts-counter {
  margin-top: 80px;
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  padding: 20px;
}

.box > .title {
  margin-bottom: 20px;
}

.bio {
  margin-bottom: 30px;
}

.post {
  margin: 10px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  text-align: right;
}

.post-and-comments {
  margin: 40px 0;
}

.post-title {
  display: flex;
  justify-content: space-between;
}

.comment {
  margin: 20px 0;
}
