// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts-button {
  padding: 10px;
}

.forms-section,
.field,
.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms-section {
  padding-top: 50px;
}
