// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bio {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  font-size: 20px;
  padding: 10px;
}

.bio > .title {
  margin-bottom: 20px;
}
